{
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js"]
            }
        ],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "func-names": ["error", "as-needed"],
        "no-unused-vars": "off",
        "import/no-extraneous-dependencies": "off",
        "no-console": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
                "message": "Unexpected property on console object was called"
            }
        ]
    },
    "globals": {
        "window": true,
        "document": true
    }
}
